services:
  adguardhome:
    image: adguard/adguardhome:latest
    volumes:
      - adguardhome_work:/opt/adguardhome/work
      - adguardhome_conf:/opt/adguardhome/conf
    ports:
      - 53:53/udp
      - 80:80/tcp
      - 3000:3000/tcp
    environment:
      - TZ=Europe/Brussels
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3

  portainer-agent:
    image: portainer/agent:latest
    container_name: portainer_adguard_agent
    restart: unless-stopped
    ports:
      - "{{ ansible_default_ipv4.address }}:9001:9001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host \
    security_opt:
      - no-new-privileges:true

  watchtower:
    image: beatkind/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - WATCHTOWER_SCHEDULE=0 0 3 * * *
      - WATCHTOWER_CLEANUP=true
    security_opt:
      - no-new-privileges:true

volumes:
  adguardhome_work:
  adguardhome_conf: