services:
  db:
    image: mariadb:latest
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    expose:
      - 3306
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 30s
      timeout: 5s
      retries: 3
    security_opt:
      - no-new-privileges:true

  wordpress-cc-it-solutions:
    image: wordpress:latest
    volumes:
      - wp_data:/var/www/html
    restart: unless-stopped
    depends_on: [db]
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=${CC_IT_DB_USER}
      - WORDPRESS_DB_PASSWORD=${CC_IT_DB_PASSWORD}
      - WORDPRESS_DB_NAME=cc_it_solutions
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:80 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    security_opt:
      - no-new-privileges:true
    ports:
      - 80:80

  wordpress-charan-chander-portfolio:
    image: wordpress:latest
    volumes:
      - wp_charanchander_portfolio_data:/var/www/html
    restart: unless-stopped
    depends_on: [db]
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=${PORTFOLIO_DB_USER}
      - WORDPRESS_DB_PASSWORD=${PORTFOLIO_DB_PASSWORD}
      - WORDPRESS_DB_NAME=portfolio
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:80 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    security_opt:
      - no-new-privileges:true
    ports:
      - 81:80

  portainer-agent:
    image: portainer/agent:latest
    container_name: portainer_websites_agent
    restart: unless-stopped
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:9001 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    security_opt:
      - no-new-privileges:true

  watchtower:
    image: beatkind/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  cloudflare-tunnel-cc-it:
    container_name: tunnel-cc-it
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: ${CLOUDFLARE_TUNNEL_CC_IT}
    security_opt:
      - no-new-privileges:true

  cloudflare-tunnel-portfolio:
    container_name: tunnel-portfolio
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: ${CLOUDFLARE_TUNNEL_PORTFOLIO}
    security_opt:
      - no-new-privileges:true

volumes:
  db_data:
  wp_data:
  wp_charanchander_portfolio_data: